# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db

# Virtual Environment
venv/
.env
.env.*


# VSCode
.vscode/


# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS-specific
.DS_Store
Thumbs.db
